table, th, td{
    border: 1px solid;
}

th {
    text-align: center;
    padding: 10px;
}

td {
    padding: 10px;
}

.rowTable:hover {
    background-color: darkgray;
}

#content {
    display: flex;
    align-items: center;
}

#updateNode {
    display: none;
}

